extends ../layout.pug

block content
  h1 Login

  p You were redirected here because you havent't given permission to see baby photos. Did you just sign up? If so, an admin (the parents) have to approve you first. This app is baby picture sharing for paranoid parents, after all.